*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
    /*font: small-caps bold 26px/2 sans-serif;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;


}

.container{
    width: 100%;
}

.header{
    padding: 10px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}

.logo{
    padding-bottom: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 16%;
    height: 150px;
    }

.hL1{
    width: 84%;
    padding-top: 50px;
    user-select: none;
    display: flex;
    justify-content: space-around;
}

.header li{
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    height: 45px;
    width: 143px;
    list-style-type: none;
    text-align: center;
    line-height: 40px;
}

.hL2{
    padding-top: 10px;
    cursor: default;
    display:none;
}

.hL1 li:hover ul{
    opacity: 0;
    animation: ani 1s forwards;
    display: block;
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
.hL2 li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.hL2 li:last-child{
    margin-bottom: 0;
}

.line{
    margin-top: 10px;
    height: 30px;
    background-color: black;
}

.katalog{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notify{
    position: absolute;
    top: 25%;
    left: 2%;
    animation: note 3s forwards;
    width: 200px;
    height: 70px;
    margin: 0;
    display: none;
    
}

.notify img{
    width: 100%;
    height: 70px;
}

@keyframes note {
    0% {opacity: 0;}
    10%{opacity: 1;}
    20%{opacity: 1;}
    30%{opacity: 1;}
    40%{opacity: 1;}
    50%{opacity: 1;}
    60%{opacity: 1;}
    70%{opacity: 1;}
    80%{opacity: 1;}
    90%{opacity: 1;}
    100% {opacity: 0;}
}

.cont2 {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-auto-rows: 400px;
    gap: 70px;
    justify-content: center;
    align-items: center;

}

.good{
    cursor: pointer;
    transition: all 0.5s ease 0s;
    height: 350px;
    
 }

 .good img{
    width: 100%;
    height: 280px;
 }

 .good p{
    font-size: 18px;
    text-align: center;
    color:black
 }
.good:hover{
    
    transform: scale(102%);

} 

.kor{
    background-color:black;
    border-radius: 20px;
    width: 90%;
    height: 25px;
    text-align: center;
    color: white;
    font-size: 20px;
}